{% extends 'ecommerce/base.html' %}

{% block title %}
<title>Blog Jaime</title>
{% endblock %}


{% block my_header %}
    <h1 class="display-4 fw-bolder">Blog Jaime</h1>
    <p class="lead fw-normal text-white-50 mb-0">Articulos para Devs</p>
{% endblock %}



{% block section %}

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for post in obj_post %}
                <!-- Post preview-->
                <img height="150px" src="/{{post.imagen.url}}" alt="">
                <div class="post-preview">
                    <a href="{{post.slug}}">
                        <h2 class="post-title">  {{post.titulo}} </h2>
                    </a>

                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{post.author}}</a>
                        {{post.time_created}}
                    </p>
                    <h5 class="post-subtitle">
                        {% for tag in post.tags.all %} #{{tag}} {% endfor %}
                    </h5>
                </div>
                <!-- Divider-->
                <hr class="my-4">
                <!-- Post preview-->
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>

{% endblock %}